.modal-accept {
    font-family: Arial, Helvetica, sans-serif;
}

/* modal-accept */
.modal-accept {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 100%;
    max-width: 350px;
    background-color: rgb(19, 41, 61);
    box-shadow: 0 1px 7px rgba(39, 39, 39, 0.9);
    border-radius: 15px;
    z-index: 9999;
}
.modal-accept .body .box  {
    display: block;
    font-size: 0;
}
.modal-accept .body .box .col {
    font-size: initial;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.modal-accept .body .box .col.info {
    color: rgb(232, 241, 242);
}
.modal-accept .body .box .col.info a {
    color: rgb(27, 152, 224);
}
.modal-accept .body .box .col.info strong {
    font-size: .85rem;
}
.modal-accept .body .box .col.info p,
.modal-accept .body .box .col.info a {
    font-size: .8rem;
}
.modal-accept .body .box .col.info strong {
    margin: 0;
    letter-spacing: 1px;
}
.modal-accept .body .box .col.info p {
    line-height: 18px;
    margin: 10px 0 0 0;
}
.modal-accept .body .box .col.btn {
    padding-top: 0;
}
.modal-accept .body .box .col.btn button {
    appearance: unset;
    -webkit-appearance: unset;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.modal-accept .body .box .col.btn button.options {
    background-color: rgb(232, 241, 242);
    color: rgb(0, 100, 148);
    margin-right: 5px;
}
.modal-accept .body .box .col.btn button.accept {
    background-color: rgb(36, 123, 160);
    color: rgb(232, 241, 242);
    margin-left: 5px;
}