.modal-consent > *,
.modal-cookies > * {
    font-family: Arial, Helvetica, sans-serif !important;
    outline: none;
}

/* modal-consent */
.modal-consent {
    position: fixed;
    bottom: 15px;
    width: 100%;
    max-width: 350px;
    box-shadow: 1px 2px 6px rgba(44, 44, 44, 0.75);
    border-radius: .3rem;
    z-index: 9999;

    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);

    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}
.modal-consent.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.modal-consent .body .box  {
    display: block;
    font-size: 0;
}
.modal-consent .body .box .col {
    font-size: initial;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.modal-consent .body .box .col.info strong {
    font-size: .85em;
    margin: 0;
}
.modal-consent .body .box .col.info p {
    font-size: .85em;
}
.modal-consent .body .box .col.info p {
    font-size: 12px;
    margin: 10px 0 0 0;
    text-transform: initial;
    line-height: 16px;
}
.modal-consent .body .box .col.info p a {
    text-decoration: none;
}
.modal-consent .body .box .col.btn {
    padding-top: 0;
}
.modal-consent .body .box .col.btn a {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    font-size: .65em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.modal-consent .body .box .col.btn a.options {
    margin-right: 5px;
}
.modal-consent .body .box .col.btn a.accept {
    margin-left: 5px;
}

/* modal-cookies */
.modal-cookies {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;

    visibility: hidden;
    opacity: 0;

    transition: opacity .15s linear, visibility .15s ease;
    -webkit-transition: opacity .15s linear, visibility .15s ease;
}
.modal-cookies.active {
    visibility: visible;
    opacity: 1;
}
.modal-cookies .dialog {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 680px;
    height: calc(100% - 3.5rem);
    min-height: calc(100% - 3.5rem);
    margin: 1.75rem auto;
    pointer-events: none;

    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
}
.modal-cookies.active .dialog {
    transform: none;
    -webkit-transform: none;
}
.modal-cookies .dialog .content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}
.modal-cookies .dialog .content .easyap-header,
.modal-cookies .dialog .content .easyap-body,
.modal-cookies .dialog .content .easyap-footer {
    background-color: #fff;
    margin: 0;
    padding: 15px;
}
.modal-cookies .dialog .content .easyap-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-cookies .dialog .content .easyap-header span.title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #363955;
}
.modal-cookies .dialog .content .easyap-body {
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
}
.modal-cookies .dialog .content .easyap-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

/* btn actions */
.modal-cookies .dialog .content .easyap-footer .actions {
    display: block;
    font-size: 0;
}
.modal-cookies .dialog .content .easyap-footer .actions a.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
}
.modal-cookies .dialog .content .easyap-footer .actions a.btn[data-consent="accept-all"] {
    background-color: #363955;
    color: #e8f1f2;
}
.modal-cookies .dialog .content .easyap-footer .actions a.btn[data-consent="save-options"] {
    background-color: #fff;
    border: solid 1px #247ba0;
    color: #247ba0;
    margin-left: 15px;
}

/* categories */
.modal-cookies .dialog .content .easyap-body .categories,
.modal-cookies .dialog .content .easyap-body .categories .item,
.modal-cookies .dialog .content .easyap-body .categories .item .box {
    display: block;
    width: 100%;
}
.modal-cookies .dialog .content .easyap-body .categories .item .box {
    font-size: 0;
    border-bottom: solid 1px #eee;
    padding: 15px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.modal-cookies .dialog .content .easyap-body .categories .item:first-child .box {
    padding-top: 0;
}
.modal-cookies .dialog .content .easyap-body .categories .item:last-child .box {
    border-bottom: none;
}
.modal-cookies .dialog .content .easyap-body .categories .item .box small.desc {
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 8px;
    margin: 10px 0 0 0;
    background: #faf9f9;
    border-left: solid 3px #60658a;
    border-radius: 3px;
    color: #60658a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.modal-cookies .dialog .content .easyap-body .categories .item .box .title,
.modal-cookies .dialog .content .easyap-body .categories .item .box .actions {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
.modal-cookies .dialog .content .easyap-body .categories .item .box .title {
    width: calc(100% - 200px);
    font-size: 15px;
    font-weight: 600;
    color: #60658a;
}
.modal-cookies .dialog .content .easyap-body .categories .item .box .actions {
    width: 200px;
    text-align: right;
}

@media (max-width: 768px) { 

    .modal-consent {
        max-width: initial;
        width: auto;
        left: 15px;
        right: 15px;
    }
    .modal-cookies .dialog {
        width: calc(100% - 30px);
    }
}